<!------------------------------------------------------------------------------------------------>
<div class="row border-top border-bottom">
  <div class="row main align-items-center">
    <!-- Skeleton Image Column -->
    <div class="col-5 col-md-2 my-2">
      <div class="skeleton skeleton-img"></div>
    </div>
    <!-- Skeleton Product Details Column -->
    <div class="col-6 col-md-3">
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text"></div>
    </div>
    <!-- Skeleton Quantity Control Column -->
    <div class="col-5 col-md-3 mt-xs-3">
      <div class="d-flex">
        <div class="col">
          <div class="skeleton skeleton-text"></div>
        </div>
      </div>
    </div>
    <!-- Skeleton Item Price Column -->
    <div class="col-6 col-md-3 mt-xs-3">
      <div class="skeleton skeleton-text"></div>
    </div>
    <!-- Skeleton Remove Item -->
    <div class="col-1 col-md-1">
      <div class="skeleton skeleton-text"></div>
    </div>
  </div>
</div>
<!------------------------------------------------------------------------------------------------>
