<!-------------------------------------------------------------------------------------------->
<!-- Page Title -->
<section class="about-section d-flex flex-column">
  <h2 class="about-heading">Categories</h2>
  <!-- Start of Breadcrumb -->
  <nav aria-label="breadcrumb" class="pt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-decoration-none text-white fs-5" routerLink="/home"><i class="fa-solid fa-house fa-lg me-2"></i>Home</a>
      </li>
      <li class="breadcrumb-item active text-white fs-5" aria-current="page">Categories</li>
    </ol>
  </nav>
  <!-- End of Breadcrumb -->
</section>
<!-------------------------------------------------------------------------------------------->
<!-- Page Title -->
<section class="d-flex justify-content-center">
  <h2 class="py-5">Our Categories</h2>
</section>
<!-------------------------------------------------------------------------------------------->
<div class="container-fluid d-flex justify-content-center bg-light pb-6">
  <div class="col-10">
    <div class="row">
      <!-------------------------------------------------------------------------------------->
      <!-- Start of Search -->
      <div class="d-flex align-items-center justify-content-center py-6">
        <div class="w-75">
          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Category Name ..."
                [(ngModel)]="searchInput"
                name="categoryName"
                (keyup)="searchCategories()"
              />
              <div class="btn btn-outline-secondary"><i class="fa fa-search"></i> Search</div>
            </div>
          </form>
        </div>
      </div>
      <!-- End of Search -->
      <!-------------------------------------------------------------------------------------->
      <!-- Start of Results -->
      <div class="d-flex align-items-center justify-content-center">
        <div class="card-footer d-flex justify-content-between" style="min-height: 50px">
          <p class="my-auto" *ngIf="!categoriesLoading && !apiError && !noCategories">
            Showing from {{ startEntry }} to {{ endEntry }} of {{ totalCount }} results
          </p>
        </div>
      </div>
      <!-- End of Results -->
      <!-------------------------------------------------------------------------------------->
      <!-- Start of Categories Loading -->
      <div class="container d-flex justify-content-center" *ngIf="categoriesLoading">
        <!-- <div class="spinner-border text-dark" role="status">
          <span class="visually-hidden">Loading...</span>
        </div> -->
        <app-loader-skeleton-v3></app-loader-skeleton-v3>
      </div>
      <!-- End of Categories Loading -->
      <!-------------------------------------------------------------------------------------->
      <!-- Start of Categories -->
      <ng-container *ngIf="!categoriesLoading">
        <div *ngFor="let category of categories" class="col-lg-4 col-md-6 col-sm-10 p-5">
          <div class="card product-item border-0 shadow bg-white rounded">
            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
              <img class="img-fluid w-100 product-image" [src]="category.imageUrl" alt="" />
              <div class="overlay">
                <!-- <a [routerLink]="['/productDetails', category.id]" class="btn btn-light text-dark overlay-btn fs-6 fw-bold">View</a> -->
              </div>
            </div>
            <div class="card-body text-center py-2">
              <h6 class="text-truncate py-1 mb-1">{{ category.name }}</h6>
              <div class="d-flex justify-content-between">
                <h6>No of Products</h6>
                <h6 class="text-muted">{{ category.products.length }}</h6>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- End of Categories -->
      <!-------------------------------------------------------------------------------------->
      <!-- Start of Error Category -->
      <div *ngIf="apiError" class="alert alert-danger my-8" role="alert">
        {{ apiError }}
      </div>
      <!-- End of Error Category -->
      <!-- Start of No Categories Available -->
      <div *ngIf="!categoriesLoading && !apiError && noCategories" class="alert alert-info my-8" role="alert">No Categories available</div>
      <!-- End of No Categories Available -->
    </div>
  </div>
</div>
<!----------------------------------------------------------------------------------------------->
<!-- Start of Pagination -->
<div *ngIf="!apiError && !noCategories" class="container d-flex justify-content-center py-8">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" aria-label="Previous" (click)="changePage(currentPage - 1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" aria-label="Next" (click)="changePage(currentPage + 1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<!-- End of Pagination -->
<!----------------------------------------------------------------------------------------------->
