<!-------------------------------------------------------------------------------------------->
<!-- Page Title -->
<section class="about-section">
  <h2 class="about-heading">Contact</h2>
</section>
<!-------------------------------------------------------------------------------------------->
<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-md-12">
      <div class="row border mx-2">
        <!------------------------------------------------------------------------------------>
        <!-- Contact Form -->
        <div class="col-md-6 border">
          <div class="contact-form">
            <h4 class="text-center">Send Us A Message</h4>
            <form (ngSubmit)="sendMessage(messageForm)" [formGroup]="messageForm">
              <div *ngIf="apiError" class="alert alert-danger">
                {{ apiError }}
              </div>
              <!-- Email -->
              <div class="form-group mt-5">
                <label for="email" class="sr-only">Email</label>
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Your Email Address" />
              </div>
              <div *ngIf="messageForm.get('email')?.errors && messageForm.get('email')?.touched" class="alert alert-danger mt-2">
                <p *ngIf="messageForm.get('email')?.getError('email')" class="m-0">Email Invalid for example example&commat;mail.com</p>
                <p *ngIf="messageForm.get('email')?.getError('required')" class="m-0">Email is Required</p>
              </div>
              <!-- Message -->
              <div class="form-group mt-5">
                <label for="message" class="sr-only">Message</label>
                <textarea formControlName="messageDetails" class="form-control" id="message" rows="5" placeholder="How Can We Help?"></textarea>
              </div>
              <div *ngIf="messageForm.get('messageDetails')?.errors && messageForm.get('messageDetails')?.touched" class="alert alert-danger mt-2">
                <p *ngIf="messageForm.get('messageDetails')?.getError('required')" class="m-0">Message Details is Required</p>
                <p *ngIf="messageForm.get('messageDetails')?.getError('minlength')" class="m-0">Message must be between 50 and 1000 characters</p>
                <p *ngIf="messageForm.get('messageDetails')?.getError('maxlength')" class="m-0">Message must be between 50 and 1000 characters</p>
              </div>
              <!-- Submit -->
              <button [disabled]="messageForm.invalid" type="submit" class="btn btn-dark btn-block btn-submit w-100 my-4">
                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i> <span *ngIf="!isLoading">Submit</span>
              </button>
            </form>
          </div>
        </div>
        <!------------------------------------------------------------------------------------>
        <!-- Contact Information -->
        <div class="col-md-6 border">
          <div class="info-block">
            <!-- Address -->
            <p class="mt-3">
              <i class="fa-solid fa-location-dot me-2"></i>
              <strong>Address</strong>
            </p>
            <p class="ms-4">Coza Store Center 8th floor, 379 Hudson St, New York, NY 10018 US</p>
            <br />

            <!-- Let's Talk -->
            <p class="mt-3">
              <i class="fa-solid fa-phone me-2"></i>
              <strong>Let's Talk</strong>
            </p>
            <p class="ms-4"><a href="tel:+18001236879">+1 800 1236879</a></p>
            <br />

            <!-- Sale Support -->
            <p class="mt-3">
              <i class="fa-solid fa-envelope me-2"></i>
              <strong>Sale Support</strong>
            </p>
            <p class="ms-4"><a href="mailto:contact@example.com">contact&commat;example.com</a></p>
          </div>
        </div>
      </div>
      <!-------------------------------------------------------------------------------------->
    </div>
  </div>
</div>
<!-------------------------------------------------------------------------------------------->
