<!----------------------------------------------------------------------------------------------->
<!-- Start of Main Card -->
<div class="container pt-6">
  <div class="card mt-3 mb-5 bg-light shadow p-2 bg-body rounded">
    <div class="card-body">
      <h5 class="card-title fs-4">Colors Form</h5>
      <h5 class="fs-6 mb-4">You can add or edit Colors here</h5>
      <!-- Start of Breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb fs-6">
          <li class="breadcrumb-item">
            <a class="text-decoration-none text-dark" routerLink="/admindashboard"><i class="fas fa-tachometer-alt fa-lg me-2"></i>Admin Dashboard</a>
          </li>
          <li class="breadcrumb-item active text-dark fs-6" aria-current="page">{{ editMode ? 'Edit Color' : 'Add Color' }}</li>
        </ol>
      </nav>
      <!-- End of Breadcrumb -->
    </div>
  </div>
</div>
<!-- End of Main Card -->
<hr />
<!----------------------------------------------------------------------------------------------->
<div class="container mt-5 pb-8">
  <div class="card">
    <div class="card-body">
      <h5 *ngIf="colorLoading" class="card-title fs-4 mb-3">Lodaing Color Details ...</h5>
      <h5 *ngIf="!colorLoading" class="card-title fs-4 mb-3">{{ editMode ? 'Edit Color' : 'Add Color' }}</h5>
      <hr />
      <!----------------------------------------------------------------------------------------->
      <!-- Start of Color Form -->
      <form [formGroup]="colorForm" class="py-5">
        <!-- Start of Color Name -->
        <div class="mb-5">
          <label for="colorName" class="form-label">Color Name</label>

          <!-- Skeleton Loader -->
          <div *ngIf="colorLoading" class="skeleton-loader"></div>

          <input
            *ngIf="!colorLoading"
            type="text"
            class="form-control"
            id="colorName"
            formControlName="name"
            name="colorName"
            placeholder="Color Name"
            required
          />
          <div class="mb-2 mt-1 col-sm-12 errors" *ngIf="colorForm.get('name')?.errors && colorForm.get('name')?.touched">
            <span *ngIf="colorForm.get('name')?.errors?.['required']" class="text-danger">Color Name is required</span>
            <span *ngIf="colorForm.get('name')?.errors?.['pattern']" class="text-danger">Invalid Color Name. only alphabets allowed</span>
            <span *ngIf="colorForm.get('name')?.errors?.['minlength']" class="text-danger">Invalid Color Name, Min length is 1</span>
            <span *ngIf="colorForm.get('name')?.errors?.['maxlength']" class="text-danger">Invalid Color Name, Max length is 12</span>
          </div>
        </div>
        <!-- End of Color Name -->
        <!--------------------------------------------------------------------------------------->
        <!-- Start of API Error -->
        <div *ngIf="!colorLoading && apiError" class="alert alert-danger my-3 text-center" role="alert">
          {{ apiError }}
        </div>
        <!-- End of API Error -->
        <!--------------------------------------------------------------------------------------->
        <!-- Start of Save Button with Spinner and Disabled State -->
        <div class="d-flex justify-content-center mt-6">
          <button type="submit" class="btn btn-success" (click)="openSaveConfirmationModal($event)" [disabled]="colorForm.invalid">
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin mx-4"></i>
            <span *ngIf="!isLoading"> {{ editMode ? 'Update' : ' + Create' }}</span>
          </button>
          <button type="reset" class="btn btn-secondary ms-4" routerLink="/admindashboard/colors" (click)="resetAll()">Cancel</button>
        </div>
        <!-- End of Save Button with Spinner and Disabled State -->
      </form>
      <!-- End of Color Form -->
      <!----------------------------------------------------------------------------------------------->
    </div>
  </div>
  <!----------------------------------------------------------------------------------------------->
</div>
