<!----------------------------------------------------------------------------------------------->
<!-- Start of Main Card -->
<div class="container pt-6">
  <div class="card mt-3 mb-5 bg-light shadow p-2 bg-body rounded">
    <div class="card-body text-center">
      <h5 class="card-title fs-4 mb-4">Admin Dashboard</h5>
      <!-- Start of Breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb fs-6">
          <li class="breadcrumb-item">
            <a class="text-decoration-none text-dark" routerLink="/admindashboard"><i class="fas fa-tachometer-alt fa-lg me-2"></i>Admin Dashboard</a>
          </li>
        </ol>
      </nav>
      <!-- End of Breadcrumb -->
    </div>
  </div>
</div>
<!-- End of Main Card -->
<hr />
<!----------------------------------------------------------------------------------------------->
<div class="container">
  <div class="row">
    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20">Orders Received</h6>
          <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
          <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Orders Received</h6>
          <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
          <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Orders Received</h6>
          <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
          <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Orders Received</h6>
          <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
          <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
