<!------------------------------------------------------------------------------------------------>
<div class="card my-6">
  <div class="row">
    <!-------------------------------------------------------------------------------------------->
    <div class="col-lg-8 cart">
      <!------------------------------------------------------------------------------------------>
      <!-- Start of Title -->
      <div class="mb-4">
        <div class="row">
          <div class="col-12 col-md">
            <h4>
              <p class="fw-semibold">Orders</p>
            </h4>
          </div>
          <div class="w-100 d-md-none"></div>
          <div *ngIf="orderloading" class="col-12 col-md align-self-center text-md-right text-left">Loading items...</div>
          <div *ngIf="!orderloading && noItems && !apiError" class="col-12 col-md align-self-center text-md-right text-left">No items</div>
          <div *ngIf="!orderloading && !noItems && !apiError" class="col-12 col-md align-self-center text-md-right text-left">{{ userOrdersCount }} Orders</div>
        </div>
      </div>
      <!-- End  of Title -->
      <!------------------------------------------------------------------------------------------>
      <!-- Placeholder for No Orders -->
      <div *ngIf="!orderloading && noItems && !apiError" class="text-center my-auto">
        <p class="text-muted fs-5">No Orders</p>
        <button routerLink="/shop" class="btnCustom mt-3 fw-semibold py-2 custom-width">Back to Shop</button>
      </div>
      <!------------------------------------------------------------------------------------------>
      <!-- Start of Api Error -->
      <div *ngIf="!orderloading && apiError" class="text-center my-auto">
        <p class="text-muted fs-5">{{ apiError }}</p>
        <button routerLink="/shop" class="btnCustom mt-3 fw-semibold py-2 custom-width">Back to Shop</button>
      </div>
      <!-- End of Api Error -->
      <!------------------------------------------------------------------------------------------>
      <!-- Start of Items -->
      <ng-container *ngIf="!orderloading && !noItems && !apiError">
        <ng-container *ngFor="let order of orders">
          <div class="order-section mb-4">
            <h5 class="order-title">Order #{{ order.id }} - {{ order.createdDate | date : 'short' }}</h5>
            <div class="order-details">
              <p>Name: {{ order.firstName }} {{ order.lastName }}</p>
              <p>Shipping Address: {{ order.shippingAddress }}</p>
              <p>Status: {{ order.orderStatus }}</p>
              <p>Payment Method: {{ order.paymentMethod }}</p>
              <p>Deliver Date : {{ order.deliverDate | date : 'short' }}</p>
              <p>Total Price: &euro; {{ order.totalOrderPrice | number : '1.2-2' }}</p>
            </div>

            <div class="items">
              <ng-container *ngFor="let item of order.orderItems">
                <div class="row border-top border-bottom">
                  <div class="row main align-items-center">
                    <div class="col-5 col-md-2"><img class="img-fluid" [src]="item.imageUrl" (click)="openImgModal(item)" style="cursor: pointer" /></div>
                    <div class="col-6 col-md-3">
                      <div class="row">{{ item.productTitle }}</div>
                      <div class="row text-muted">Color: {{ item.colorName }}</div>
                      <div class="row text-muted">Size: {{ item.sizeName }}</div>
                    </div>
                    <div class="col-5 col-md-3 mt-xs-3">
                      <div class="d-flex">
                        <div class="col">
                          <span class="px-2">{{ item.quantity }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-md-3 mt-xs-3">
                      <div class="row">&euro; {{ item.totalItemPrice | number : '1.2-2' }}</div>
                    </div>
                    <div class="col-1 col-md-1">
                      <i class="fa-solid fa-info fa-lg" style="cursor: pointer" (click)="openOrderItemModal(item)"></i>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <!-- End of Items -->
      <!------------------------------------------------------------------------------------------>
      <!-- Start of Skeleton Loading Placeholder -->
      <ng-container *ngIf="orderloading">
        <app-user-cart-skeleton-loader></app-user-cart-skeleton-loader>
        <app-user-cart-skeleton-loader></app-user-cart-skeleton-loader>
        <app-user-cart-skeleton-loader></app-user-cart-skeleton-loader>
        <app-user-cart-skeleton-loader></app-user-cart-skeleton-loader>
      </ng-container>
      <!-- End of Skeleton Loading Placeholder -->
      <!------------------------------------------------------------------------------------------>
      <div class="mb-4"></div>
      <div *ngIf="!noItems && !orderloading && !apiError" class="mt-5 d-flex justify-content-between">
        <!-- Back to Shop Link -->
        <a routerLink="/shop" class="text-decoration-none">
          <i class="fa-solid fa-arrow-left"></i>
          <span class="text-muted ms-2">Back to shop</span>
        </a>
        <!-- Clear All -->
        <!-- <button (click)="openDeleteAllItemConfirmationModal()" class="btn btn-outline-secondary">
          <i *ngIf="deleteAllLoading" class="fas fa-spinner fa-spin me-2"></i>
          <i *ngIf="!deleteAllLoading" class="fa-solid fa-trash text-dark me-2"></i>
          Clear All Items
        </button> -->
      </div>
    </div>
    <!-------------------------------------------------------------------------------------------->
    <!-- Start of Summary -->
    <div class="col-lg-4 summary">
      <!-- Summary -->
      <div>
        <h5>
          <p class="fw-semibold">Summary</p>
        </h5>
      </div>
      <hr />
      <!-- Items -->
      <div class="row mt-3">
        <div class="col-6 text-start"><strong>Orders </strong></div>
        <div class="col-6 text-start" *ngIf="!orderloading && !noItems && !apiError">{{ userOrdersCount }}</div>
      </div>
      <br />
      <!-- Products -->
      <div class="row mt-3">
        <div class="col-6 text-start"><strong>Products </strong></div>
        <!-- <div class="col-6 text-start" *ngIf="!cartLoading && !noItems && !apiError">{{ cartItems.length }}</div> -->
      </div>
      <br />
      <!-- Total Price -->
      <div class="row mt-3">
        <div class="col-6 text-start"><strong>Total Price </strong></div>
        <!-- <div *ngIf="!cartLoading && !noItems && !apiError" class="col-6 text-start">&euro; {{ shoppingCart.totalCartPrice | number : '1.2-2' }}</div> -->
      </div>
      <br />
      <hr />
      <!-- Total Cart Price -->
      <div class="row">
        <div class="col"><strong>Total Cart Price </strong></div>
        <!-- <div *ngIf="!cartLoading && !noItems && !apiError" class="col text-right">&euro; {{ shoppingCart.totalCartPrice + 5 | number : '1.2-2' }}</div> -->
      </div>
      <!-- Check out Btn -->
      <button class="btnCustom mt-6 fw-semibold py-2" routerLink="/shop" [disabled]="noItems || apiError">Back To Shop</button>
    </div>
    <!-- End of Summary -->
    <!-------------------------------------------------------------------------------------------->
  </div>
</div>
<!------------------------------------------------------------------------------------------------>
