<!-- Banner -->
<div class="sec-banner bg-light py-5">
  <div class="container">
    <div class="row">
      <!---------------------------------------------------------------------------------------->
      <div class="col-md-6 mb-4">
        <!-- Block 1 -->
        <!-- Women -->
        <div class="block1 position-relative overflow-hidden text-white">
          <img src="../../../../assets/images/banner-04.jpg" alt="IMG-BANNER" class="img-fluid" />
          <a aria-current="page" routerLink="/shop" class="nav-link block1-txt d-flex flex-column justify-content-between p-4 text-white text-decoration-none">
            <div class="block1-txt-child1 d-flex flex-column">
              <span class="block1-name display-4 mb-2">Women</span>
              <span class="block1-info h5">New Trend</span>
            </div>
            <div class="block1-txt-child2 mb-2">
              <div class="block1-link px-3 py-2 fs-5">Shop Now</div>
            </div>
          </a>
        </div>
      </div>
      <!---------------------------------------------------------------------------------------->
      <div class="col-md-6 mb-4">
        <!-- Block 1 -->
        <!-- Men -->
        <div class="block1 position-relative overflow-hidden text-white">
          <img src="../../../../assets/images/banner-05.jpg" alt="IMG-BANNER" class="img-fluid" />
          <a aria-current="page" routerLink="/shop" class="nav-link block1-txt d-flex flex-column justify-content-between p-4 text-white text-decoration-none">
            <div class="block1-txt-child1 d-flex flex-column">
              <span class="block1-name display-4 mb-2">Men</span>
              <span class="block1-info h5">New Trend</span>
            </div>
            <div class="block1-txt-child2 mb-2">
              <div class="block1-link px-3 py-2 fs-5">Shop Now</div>
            </div>
          </a>
        </div>
      </div>
      <!---------------------------------------------------------------------------------------->
      <div class="col-md-6 col-lg-4 mb-4">
        <!-- Block 1 -->
        <!-- Watches -->
        <div class="block1 position-relative overflow-hidden text-white">
          <img src="../../../../assets/images/banner-07.jpg" alt="IMG-BANNER" class="img-fluid" />
          <a aria-current="page" routerLink="/shop" class="nav-link block1-txt d-flex flex-column justify-content-between p-4 text-white text-decoration-none">
            <div class="block1-txt-child1 d-flex flex-column">
              <span class="block1-name display-4 mb-2 fs-3">Watches</span>
              <span class="block1-info h5">Spring 2024</span>
            </div>
            <div class="block1-txt-child2 mb-2">
              <div class="block1-link px-3 py-2 fs-6">Shop Now</div>
            </div>
          </a>
        </div>
      </div>
      <!---------------------------------------------------------------------------------------->
      <div class="col-md-6 col-lg-4 mb-4">
        <!-- Block 1 -->
        <!-- Bags -->
        <div class="block1 position-relative overflow-hidden text-white">
          <img src="../../../../assets/images/banner-08.jpg" alt="IMG-BANNER" class="img-fluid" />
          <a aria-current="page" routerLink="/shop" class="nav-link block1-txt d-flex flex-column justify-content-between p-4 text-white text-decoration-none">
            <div class="block1-txt-child1 d-flex flex-column">
              <span class="block1-name display-4 mb-2 fs-3">Bags</span>
              <span class="block1-info h5">Spring 2024</span>
            </div>
            <div class="block1-txt-child2 mb-2">
              <div class="block1-link px-3 py-2 fs-6">Shop Now</div>
            </div>
          </a>
        </div>
      </div>
      <!---------------------------------------------------------------------------------------->
      <div class="col-md-12 col-lg-4 mb-4">
        <!-- Block 1 -->
        <!-- Accessories -->
        <div class="block1 position-relative overflow-hidden text-white">
          <img src="../../../../assets/images/banner-09.jpg" alt="IMG-BANNER" class="img-fluid" />
          <a aria-current="page" routerLink="/shop" class="nav-link block1-txt d-flex flex-column justify-content-between p-4 text-white text-decoration-none">
            <div class="block1-txt-child1 d-flex flex-column">
              <span class="block1-name display-4 mb-2 fs-3">Accessories</span>
              <span class="block1-info h5">Spring 2024</span>
            </div>
            <div class="block1-txt-child2 mb-2">
              <div class="block1-link px-3 py-2 fs-6">Shop Now</div>
            </div>
          </a>
        </div>
      </div>
      <!---------------------------------------------------------------------------------------->
    </div>
  </div>
</div>
