/*--------------------------------------------*/
.sidebar {
  position: static;
  width: 240px;
  height: 100%;
  background-color: #2e353d;
  z-index: 1000;
}
/*--------------------------------------------*/
.sidebar a {
  display: block;
  height: 60px;
  width: 100%;
  color: #e1ffff;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  transition: all 0.5s ease;
  text-decoration: none;
  border-bottom: 1px solid #23282e;
}
/*--------------------------------------------*/
.sidebar a i {
  font-size: 20px;
}
/*--------------------------------------------*/
.sidebar a span {
  letter-spacing: 1px;
}
/*--------------------------------------------*/
.sidebar a:hover {
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
/*--------------------------------------------*/
/* Media Query for small and medium screens */
/* @media (max-width: 860px) { */
/* @media (max-width: 1024px) { */
@media (max-width: 1250px) {
  span {
    display: none !important;
  }
  #logo {
    display: none !important;
  }
  .sidebar {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .sidebar a {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    height: auto;
    line-height: normal;
  }

  .sidebar a i {
    margin: auto;
    font-size: 22px;
  }
}
.active-link {
  background-color: #4f5b69;
}
/*--------------------------------------------*/
