<!----------------------------------------------------------------------------------------------->
<!-- Start of Main Card -->
<div class="container pt-6">
  <div class="card mt-3 mb-5 bg-light shadow p-2 bg-body rounded">
    <div class="card-body">
      <h5 class="card-title fs-4">Categories Form</h5>
      <h5 class="fs-6 mb-4">You can add or edit Categories here</h5>
      <!-- Start of Breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb fs-6">
          <li class="breadcrumb-item">
            <a class="text-decoration-none text-dark" routerLink="/admindashboard"><i class="fas fa-tachometer-alt fa-lg me-2"></i>Admin Dashboard</a>
          </li>
          <li class="breadcrumb-item active text-dark fs-6" aria-current="page">{{ editMode ? 'Edit Category' : 'Add Category' }}</li>
        </ol>
      </nav>
      <!-- End of Breadcrumb -->
    </div>
  </div>
</div>
<!-- End of Main Card -->
<hr />
<!----------------------------------------------------------------------------------------------->
<div class="container mt-5 pb-8">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fs-4 mb-3">{{ editMode ? 'Edit Category' : 'Add Category' }}</h5>
      <!----------------------------------------------------------------------------------------->
      <!-- Start of Category Form -->
      <form [formGroup]="categoryForm">
        <!-- Start of Category Name -->
        <div class="mb-5">
          <label for="categoryName" class="form-label">Category Name</label>
          <input type="text" class="form-control" id="categoryName" formControlName="name" name="categoryName" placeholder="Category Name" required />
          <div class="mb-2 mt-1 col-sm-12 errors" *ngIf="categoryForm.get('name')?.errors && categoryForm.get('name')?.touched">
            <span *ngIf="categoryForm.get('name')?.errors?.['required']" class="text-danger">Category Name is required</span>
            <span *ngIf="categoryForm.get('name')?.errors?.['pattern']" class="text-danger">Invalid Category Name. only alphabets allowed</span>
            <span *ngIf="categoryForm.get('name')?.errors?.['minlength']" class="text-danger">Invalid Category Name, Min length is 3</span>
            <span *ngIf="categoryForm.get('name')?.errors?.['maxlength']" class="text-danger">Invalid Category Name, Max length is 15</span>
          </div>
        </div>
        <!-- End of Category Name -->
        <!--------------------------------------------------------------------------------------->
        <!-- Start of Category Description -->
        <div class="mb-5">
          <label for="categoryDescription" class="form-label">Category Description</label>
          <textarea
            type="text"
            class="form-control min-height-textarea"
            id="brandDescription"
            formControlName="description"
            name="categoryDescription"
            placeholder="Category Description"
            required
          ></textarea>
          <div class="mb-2 mt-1 col-sm-12 errors" *ngIf="categoryForm.get('description')?.errors && categoryForm.get('description')?.touched">
            <span *ngIf="categoryForm.get('description')?.errors?.['required']" class="text-danger">Category Description is required</span>
            <span *ngIf="categoryForm.get('description')?.errors?.['minlength']" class="text-danger">Invalid Category Description, Min length is 20</span>
            <span *ngIf="categoryForm.get('description')?.errors?.['maxlength']" class="text-danger">Invalid Category Description, Max length is 250</span>
          </div>
        </div>
        <!-- End of Category Description -->
        <!--------------------------------------------------------------------------------------->
        <!-- Start of Category Image -->
        <div class="mb-2">
          <label for="categoryImage" class="form-label">Category Image</label>
          <div class="input-group">
            <input type="file" class="form-control" name="categoryImage" accept="image/*" (change)="onImageUpload($event)" required />
          </div>
          <div class="d-flex justify-content-center">
            <img [src]="responseImageUrl" alt="" class="w-25 mt-4" />
          </div>
          <div class="mb-5 col-sm-12 errors" *ngIf="categoryForm.get('image')?.errors && categoryForm.get('image')?.dirty">
            <span *ngIf="categoryForm.get('image')?.errors?.['required']" class="text-danger">Please select an image</span>
          </div>
          <div class="mb-2 col-sm-12 errors" *ngIf="imageError">
            <span class="text-danger">{{ imageError }}</span>
          </div>
          <hr />
        </div>
        <!-- End of Category Image -->
        <!--------------------------------------------------------------------------------------->
        <!-- Start of API Error -->
        <div *ngIf="apiError" class="alert alert-danger my-3" role="alert">
          {{ apiError }}
        </div>
        <!-- End of API Error -->
        <!--------------------------------------------------------------------------------------->
        <!-- Start of Save Button with Spinner and Disabled State -->
        <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-success" (click)="openSaveConfirmationModal($event)" [disabled]="categoryForm.invalid">
            <i *ngIf="isLoading" class="fas fa-spinner fa-spin mx-4"></i>
            <span *ngIf="!isLoading"> {{ editMode ? 'Update' : ' + Create' }}</span>
          </button>
          <button type="reset" class="btn btn-secondary ms-4" routerLink="/admindashboard/categories" (click)="resetAll()">Cancel</button>
        </div>
        <!-- End of Save Button with Spinner and Disabled State -->
      </form>
      <!-- End of Category Form -->
      <!----------------------------------------------------------------------------------------------->
    </div>
  </div>
  <!----------------------------------------------------------------------------------------------->
</div>
