<!-------------------------------------------------------------------------------------->
<!-- Start of Main Card -->
<div class="container pt-6">
  <div class="card mt-3 mb-5 bg-light shadow p-2 bg-body rounded" style="min-height: 180px">
    <div class="card-body">
      <h5 class="card-title fs-4 mb-5" *ngIf="!productLoading && !apiError">Product No. {{ product.id }} Details</h5>
      <h5 class="card-title fs-4 mb-5" *ngIf="productLoading">Loading Product Details ...</h5>
      <h5 class="card-title fs-4 mb-5" *ngIf="!productLoading && apiError">{{ apiError }}</h5>
      <!-- Start of Breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb fs-6">
          <li class="breadcrumb-item">
            <a class="text-decoration-none text-dark" routerLink="/admindashboard"><i class="fas fa-tachometer-alt fa-lg me-2"></i>Admin Dashboard</a>
          </li>
          <li class="breadcrumb-item active text-dark fs-6" aria-current="page">Product Details</li>
        </ol>
      </nav>
      <!-- End of Breadcrumb -->
    </div>
  </div>
</div>
<!-- End of Main Card -->
<hr />
<!-------------------------------------------------------------------------------------->
<!-- Start of loader -->
<div class="container py-4 px-5" *ngIf="productLoading">
  <app-admin-product-details-loader></app-admin-product-details-loader>
</div>
<!-- End of loader -->
<!------------------------------------------------------------------------------------>
<!-- Start of Api Error -->
<div class="container py-4 px-5 d-flex justify-content-center" *ngIf="!productLoading && apiError">
  <h5 class="card-title my-8">{{ apiError }}</h5>
</div>
<!-- End of Api Error -->
<!------------------------------------------------------------------------------------>
<!-- Start of modal body -->
<div class="container py-4 px-5" *ngIf="!productLoading && !apiError">
  <!------------------------------------------------------------------------------------>
  <div class="row wrapper">
    <!-- Start of Image -->
    <div class="col-md-12 col-lg-6 px-0">
      <img [src]="product.imageUrl" class="img-responsive" alt="product Image" />
    </div>
    <!-- End of Image -->
    <!---------------------------------------------------------------------------------->
    <!-- Start of Details -->
    <div class="col-md-12 col-lg-6">
      <div class="container px-2 py-5">
        <!-- Title -->
        <div class="row mt-3">
          <div class="col-4 text-start"><strong>Title</strong></div>
          <div class="col-8">{{ product.title }}</div>
        </div>
        <br />
        <!-- Price -->
        <div class="row mt-3">
          <div class="col-4 text-start"><strong>Price</strong></div>
          <div class="col-8">{{ product.price | currency }}</div>
        </div>
        <br />
        <!-- Price After Discount -->
        <div class="row mt-3">
          <div class="col-4 text-start"><strong>Price After Discount</strong></div>
          <div class="col-8">{{ product.priceAfterDiscount | currency }}</div>
        </div>
        <br />
        <!-- Quantity -->
        <div class="row mt-3">
          <div class="col-4 text-start"><strong>Quantity</strong></div>
          <div class="col-8">{{ product.quantity }}</div>
        </div>
        <br />
        <!-- Sold -->
        <div class="row mt-3">
          <div class="col-4 text-start"><strong>Sold</strong></div>
          <div class="col-8">{{ product.sold }}</div>
        </div>
        <br />
        <!-- Average Rating -->
        <div class="row mt-3">
          <div class="col-4 text-start"><strong>Average Rating</strong></div>
          <div class="col-8">{{ product.ratingsAverage }}</div>
        </div>
        <br />
        <!-- Ratings Quantity -->
        <div class="row mt-3">
          <div class="col-4 text-start"><strong>Ratings Quantity</strong></div>
          <div class="col-8">{{ product.ratingsQuantity }}</div>
        </div>
        <br />
        <!-- Created At -->
        <div class="row mt-3">
          <div class="col-4 text-start"><strong>Created At</strong></div>
          <div class="col-8">{{ product.createdAt | date : 'short' }}</div>
        </div>
        <br />
        <!-- Edit -->
        <div class="row mt-3">
          <div class="col-12 text-center">
            <a class="btn btn-secondary px-5" [routerLink]="['/admindashboard/editproduct/', product?.id]">Edit</a>
          </div>
        </div>
        <br />
      </div>
    </div>
    <!-- End of Details -->
    <!---------------------------------------------------------------------------------->
  </div>
</div>
<!-- End of modal body -->
<hr />
<!-------------------------------------------------------------------------------------->
<!-- Start of Tabs -->
<div class="container bg-white mt-9 p-2 rounded-4">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <!---------------------------------------------------------------------------------->
    <!-- Start of Description -->
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'description'"
        id="description-tab"
        role="tab"
        aria-controls="description"
        [attr.aria-selected]="selectedTab === 'description'"
        (click)="selectTab('description')"
        >Description</a
      >
    </li>
    <!-- End of Description -->
    <!---------------------------------------------------------------------------------->
    <!-- Start of Additional Information -->
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'additional-info'"
        id="additional-info-tab"
        role="tab"
        aria-controls="additional-info"
        [attr.aria-selected]="selectedTab === 'additional-info'"
        (click)="selectTab('additional-info')"
        >Additional Information</a
      >
    </li>
    <!-- End of Additional Information -->
    <!---------------------------------------------------------------------------------->
    <!-- Start of Reviews -->
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'reviews'"
        id="reviews-tab"
        role="tab"
        aria-controls="reviews"
        [attr.aria-selected]="selectedTab === 'reviews'"
        (click)="selectTab('reviews')"
        >Reviews</a
      >
    </li>
    <!-- End of Reviews -->
    <!---------------------------------------------------------------------------------->
  </ul>
  <div class="tab-content py-5 px-2" id="myTabContent" style="min-height: 200px">
    <!---------------------------------------------------------------------------------->
    <!-- Start of Description -->
    <div
      class="tab-pane fade"
      [class.show]="selectedTab === 'description'"
      [class.active]="selectedTab === 'description'"
      id="description"
      role="tabpanel"
      aria-labelledby="description-tab"
      *ngIf="selectedTab === 'description'"
    >
      <app-loader-spinner *ngIf="productLoading"></app-loader-spinner>
      <p *ngIf="!productLoading && !apiError">{{ product.description }}</p>
    </div>
    <!-- End of Description -->
    <!---------------------------------------------------------------------------------->
    <!-- Start of Additional Information -->
    <div
      class="tab-pane fade"
      [class.show]="selectedTab === 'additional-info'"
      [class.active]="selectedTab === 'additional-info'"
      id="additional-info"
      role="tabpanel"
      aria-labelledby="additional-info-tab"
      *ngIf="selectedTab === 'additional-info'"
    >
      <app-loader-spinner *ngIf="productLoading"></app-loader-spinner>
      <!-- Category -->
      <div class="row mt-3" *ngIf="!productLoading && !apiError">
        <div class="col-6 text-end"><strong>Category : </strong></div>
        <div class="col-6 text-start">{{ product.category.name }}</div>
      </div>
      <!-- Brand -->
      <div class="row mt-3" *ngIf="!productLoading && !apiError">
        <div class="col-6 text-end"><strong>Brand : </strong></div>
        <div class="col-6 text-start">{{ product.brand.name }}</div>
      </div>
      <!-- Colors -->
      <div class="row mt-3" *ngIf="!productLoading && !apiError">
        <div class="col-6 text-end"><strong>Colors : </strong></div>
        <div class="col-6 text-start">
          <div class="color-bullets">
            <span *ngFor="let color of product.colors" class="color-bullet" [ngStyle]="{ 'background-color': color.name.toLowerCase() }"></span>
          </div>
        </div>
      </div>
      <!-- Sizes -->
      <div class="row mt-3" *ngIf="!productLoading && !apiError">
        <div class="col-6 text-end"><strong>Sizes : </strong></div>
        <div class="col-6 text-start">
          <span *ngFor="let size of product.sizes" class="size-badge">{{ size.name }}</span>
        </div>
      </div>
    </div>
    <!-- End of Additional Information -->
    <!---------------------------------------------------------------------------------->
    <!-- Start of Reviews -->
    <div
      class="tab-pane fade"
      [class.show]="selectedTab === 'reviews'"
      [class.active]="selectedTab === 'reviews'"
      id="reviews"
      role="tabpanel"
      aria-labelledby="reviews-tab"
      *ngIf="selectedTab === 'reviews'"
    >
      <app-loader-spinner *ngIf="reviewsLoading || productLoading"></app-loader-spinner>
      <div *ngIf="!reviewsLoading && !productLoading && reviews && reviews.length === 0" class="text-center my-4 fs-5">
        <p>No reviews found for this Product</p>
      </div>
      <div *ngIf="!reviewsLoading && reviews && reviews.length > 0" class="scrollable-reviews">
        <div *ngFor="let review of reviews" class="card mb-3 bg-light">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h4 class="card-title">{{ review.firstName }} {{ review.lastName }}</h4>
              </div>
              <div class="col-lg-6 text-lg-end">
                <div class="rating-stars">
                  <span class="rating">
                    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                      <span class="fa fa-star" [class.checked]="star <= review.rate"></span>
                    </ng-container>
                  </span>
                  <span class="rating-value">{{ review.rate }}/5</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <span>{{ review.createdAt | date : 'short' }} </span>
              </div>
            </div>
            <p class="card-text mt-2">{{ review.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Reviews -->
    <!---------------------------------------------------------------------------------->
  </div>
</div>
<!-- End of Tabs -->
<!-------------------------------------------------------------------------------------->
