<!-------------------------------------------------------------------------------------->
<!-- Start of modal header -->
<div class="modal-header">
  <h5 class="modal-title" id="deleteConfirmationModalLabel">Brand Details</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<!-- End of modal header -->
<!-------------------------------------------------------------------------------------->
<!-- Start of modal body -->
<div class="container py-4 px-5">
  <!------------------------------------------------------------------------------------>
  <div class="row wrapper">
    <!-- Start of Image -->
    <div class="col-md-12 col-lg-6 px-0">
      <img [src]="brand.imageUrl" class="img-responsive" alt="Brand Image" />
    </div>
    <!-- End of Image -->
    <!------------------------------------------------------------------------------------>
    <!-- Start of Details -->
    <div class="col-md-12 col-lg-6">
      <div class="container">
        <!-- Id -->
        <div class="row mt-3">
          <div class="col-4 text-start"><strong>Id</strong></div>
          <div class="col-8">{{ brand.id }}</div>
        </div>
        <br />
        <!-- Name -->
        <div class="row mt-3">
          <div class="col-4 text-start"><strong>Name</strong></div>
          <div class="col-8">{{ brand.name }}</div>
        </div>
        <br />
        <!-- Description -->
        <div class="row mt-3">
          <div class="col-4 text-start"><strong>Description</strong></div>
          <div class="col-8">{{ brand.description }}</div>
        </div>
        <!-- Created At -->
        <div class="row mt-3">
          <div class="col-4 text-start"><strong>Created At</strong></div>
          <div class="col-8">{{ brand.createdAt | date : 'short' }}</div>
        </div>
        <!-- Created At -->
        <div class="row mt-3">
          <div class="col-4 text-start"><strong>Products</strong></div>
          <div class="col-8">{{ brand.productsCount }}</div>
        </div>
        <br />
      </div>
    </div>
    <!-- End of Details -->
    <!-------------------------------------------------------------------------------------->
  </div>
</div>
<!-- End of modal body -->
<!-------------------------------------------------------------------------------------->
