<!------------------------------------------------------------------------------------------------>
<div class="card my-6">
    <div class="row">
      <!-------------------------------------------------------------------------------------------->
      <div class="col-lg-12 wishList">
        <!------------------------------------------------------------------------------------------>
        <!-- Start of Title -->
        <div class="mb-4">
          <div class="row">
            <div class="col-12 col-md">
              <h4><p class="fw-semibold">Wish List</p></h4>
            </div>
           
        </div>

        <!-- End  of Title -->
        <!------------------------------------------------------------------------------------------>
        <!-- Placeholder for Empty WishList -->
        <div *ngIf="!wishListLoading && noItems" class="text-center my-auto">
          <p class="text-muted fs-5">Your WishList is empty</p>
          <button routerLink="/shop" class="btnCustom mt-4 fw-semibold py-2 custom-width">Back to Shop</button>
        </div>
        <!------------------------------------------------------------------------------------------>
        <!-- Start of Items -->
        <ng-container *ngIf="!wishListLoading  && !noItems">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                    <div class="col-1 col-md-1"></div>
                    <div class="col-3 col-md-3">Image</div>
                    <div class="col-3 col-md-3">Title</div>
                    <div class="col-3 col-md-3">Price</div>
                    <div class="col-2 col-md-2"></div>
                    </div>
                </div>
                <div class="col-12">
                    <ng-container *ngFor="let item of wishListItems">
                        <div class="row border-top border-bottom">
                          <div class="row main align-items-center">

                              <!-- Remove Item -->
                              <div class="col-1 col-md-1">
                                <i *ngIf="item.deleting" class="fas fa-spinner fa-spin fa-lg"></i>
                                <i
                                  *ngIf="!item.deleting"
                                  class="fs-3 fa-regular fa-circle-xmark"
                                  style="cursor: pointer"
                                  (click)="openDeleteItemConfirmationModal(item.productId)"
                                ></i>
                              </div>
                           
                            <!-- Image Column -->
                            <div class="col-3 col-md-3"><img class="img-fluid" [src]="item.imageUrl" (click)="openImgModal(item)" style="cursor: pointer" /></div>
                            <!-- Product Details Column -->
                            <div class="col-3 col-md-3">
                              <div class="row">{{ item.productTitle }}</div>
                            
                            </div>
                            <div class="col-3 col-md-3">
                                <div class="row">{{ item.itemPrice }}</div>
                              
                              </div>
                              <div class="col-2 col-md-2">
                                <div class="overlay">
                                    <button class="btn btn-light text-dark overlay-btn fw-semibold" 
                                    (click)="openProductDetailsModal(item.productId)">
                                    <i *ngIf="productLoading" class="fas fa-spinner fa-spin py-1"></i>
                                    <span *ngIf="!productLoading"> Add To Cart</span>
                                   </button>
                                  </div>
                               
                              </div>
                           
                          
                          </div>
                        </div>
                      </ng-container>
                </div>
            </div>
         
        </ng-container>
        <!-- End of Items -->
        <!------------------------------------------------------------------------------------------>
        <!-- Start of Skeleton Loading Placeholder -->
        <ng-container *ngIf="wishListLoading">
          <app-user-cart-skeleton-loader></app-user-cart-skeleton-loader>
          <app-user-cart-skeleton-loader></app-user-cart-skeleton-loader>
          <app-user-cart-skeleton-loader></app-user-cart-skeleton-loader>
          <app-user-cart-skeleton-loader></app-user-cart-skeleton-loader>
        </ng-container>
        <!-- End of Skeleton Loading Placeholder -->
        <!------------------------------------------------------------------------------------------>
        <div class="mb-4"></div>
        <div *ngIf="!noItems && !wishListLoading" class="mt-5 d-flex justify-content-between">
          <!-- Back to Shop Link -->
          <a routerLink="/shop" class="text-decoration-none">
            <i class="fa-solid fa-arrow-left"></i>
            <span class="text-muted ms-2">Back to shop</span>
          </a>
          <!-- Clear All -->
          <button (click)="openDeleteAllItemConfirmationModal()" class="btn btn-outline-secondary">
            <i *ngIf="deleteAllLoading" class="fas fa-spinner fa-spin me-2"></i>
            <i *ngIf="!deleteAllLoading" class="fa-solid fa-trash text-danger me-2"></i>
            Clear All Items
          </button>
        </div>
      </div>
      <!-------------------------------------------------------------------------------------------->
      <!-- Start of Summary -->
     
      <!-- End of Summary -->
      <!-------------------------------------------------------------------------------------------->
    </div>
  </div>
  <!------------------------------------------------------------------------------------------------>
  
