<div class="modal-header">
  <h5 class="modal-title">Message Details</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <p><strong>ID: </strong> {{ message.id }}</p>
  <p><strong>Name: </strong> {{ message.firstName }} {{ message.lastName }}</p>
  <p><strong>Email: </strong> {{ message.email }}</p>
  <p><strong>Message: </strong> {{ message.messageDetails }}</p>
  <p><strong>User Email: </strong> {{ message.userEmail }}</p>
  <p><strong>Created At: </strong> {{ message.createdAt | date : 'short' }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
</div>
