/*--------------------------------------------*/
.about-section {
  background-image: url('../../../../assets/images/bg-02.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*--------------------------------------------*/
.about-heading {
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}
/*--------------------------------------------*/
.breadcrumb-item + .breadcrumb-item::before {
  content: '/';
  color: white;
}
/*--------------------------------------------*/
.pagination .page-link {
  cursor: pointer;
}
/*--------------------------------------------*/
.card-img-container {
  overflow: hidden;
}
/*--------------------------------------------*/
.card-img-top {
  transition: transform 0.6s ease-in-out;
}
/*--------------------------------------------*/
.card-img-top:hover {
  transform: scale(1.1);
}
/*--------------------------------------------*/
.category-list,
.brand-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/*--------------------------------------------*/
.bor18 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
/*--------------------------------------------*/
.dis-block {
  display: block;
}
/*--------------------------------------------*/
.stext-115 {
  font-size: 16px;
}
/*--------------------------------------------*/
.cl6 {
  color: #666;
}
/*--------------------------------------------*/
.hov-cl1:hover {
  color: #7200cf;
}
/*--------------------------------------------*/
.trans-04 {
  transition: all 0.5s;
}
/*--------------------------------------------*/
.card-body div[style] {
  transition: height 1000ms ease-in-out, opacity 1000ms ease-in-out;
}
/*--------------------------------------------*/
