<!-------------------------------------------------------------------------------------------->
<!-- Page Title -->
<section class="about-section d-flex flex-column">
  <h2 class="about-heading">Our Blog</h2>
  <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item fs-5 fw-bold"><a class="text-decoration-none" routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active text-white fs-5 fw-bold" aria-current="page">Blog</li>
    </ol>
  </nav>
</section>
<!-------------------------------------------------------------------------------------------->
