<!-------------------------------------------------------------------------------------------->
<!-- Page Title -->

<section class="about-section d-flex flex-column">
  <h2 class="about-heading">BLog</h2>
  <!-- Start of Breadcrumb -->
  <nav aria-label="breadcrumb" class="pt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-decoration-none text-white fs-5" routerLink="/home"><i class="fa-solid fa-house fa-lg me-2"></i>Home</a>
      </li>
      <li class="breadcrumb-item active text-white fs-5" aria-current="page">BLog</li>
    </ol>
  </nav>
  <!-- End of Breadcrumb -->
</section>
<!-------------------------------------------------------------------------------------------->
