/*--------------------------------------------*/
.pagination .page-link {
  cursor: pointer;
}
/*--------------------------------------------*/
.size-badge {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  color: #333;
  border: 1px solid #ccc;
}
/*--------------------------------------------*/
