<!-------------------------------------------------------------------------------------->
<!-- Start of modal header -->
<div class="modal-header">
  <h5 class="modal-title">Message Details</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<!-- End of modal header -->
<!-------------------------------------------------------------------------------------->
<!-- Start of modal body -->
<div class="container py-4 px-5">
  <!------------------------------------------------------------------------------------>
  <div class="row">
    <!-- Start of Details -->
    <div class="container">
      <!-- Id -->
      <div class="row mt-3">
        <div class="col-12 col-sm-4 text-start"><strong>Id : </strong></div>
        <div class="col-12 col-sm-8 text-start">{{ message.id }}</div>
      </div>
      <br />
      <!-- Name -->
      <div class="row mt-3">
        <div class="col-12 col-sm-4 text-start"><strong>Name : </strong></div>
        <div class="col-12 col-sm-8 text-start">{{ message.firstName }} {{ message.lastName }}</div>
      </div>
      <br />
      <!-- Email -->
      <div class="row mt-3">
        <div class="col-12 col-sm-4 text-start"><strong>Email : </strong></div>
        <div class="col-12 col-sm-8 text-start">{{ message.email }}</div>
      </div>
      <br />
      <!-- Message Details -->
      <div class="row mt-3">
        <div class="col-12 col-sm-4 text-start"><strong>Message Details : </strong></div>
        <div class="col-12 col-sm-8 text-start">{{ message.messageDetails }}</div>
      </div>
      <br />
      <!-- User Emai -->
      <div class="row mt-3">
        <div class="col-12 col-sm-4 text-start"><strong>User Email : </strong></div>
        <div class="col-12 col-sm-8 text-start">{{ message.userEmail }}</div>
      </div>
      <br />
      <!-- Created At -->
      <div class="row mt-3 mb-3">
        <div class="col-12 col-sm-4 text-start"><strong>Time : </strong></div>
        <div class="col-12 col-sm-8 text-start">{{ message.createdAt | date : 'short' }}</div>
      </div>
      <br />
    </div>
    <!-- End of Details -->
    <!-------------------------------------------------------------------------------------->
  </div>
</div>
<!-- End of modal body -->
<!-------------------------------------------------------------------------------------->
