<!-------------------------------------------------------------------------------------------->
<!-- Page Title -->
<section class="about-section d-flex flex-column">
  <h2 class="about-heading">Shop</h2>
  <!-- Start of Breadcrumb -->
  <nav aria-label="breadcrumb" class="pt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="text-decoration-none text-dark fs-5" routerLink="/home"><i class="fa-solid fa-house fa-lg me-2"></i>Shop</a>
      </li>
      <li class="breadcrumb-item active text-dark fs-5" aria-current="page">Contact</li>
    </ol>
  </nav>
  <!-- End of Breadcrumb -->
</section>
<!-------------------------------------------------------------------------------------------->
<div class="bg-light">
  <div class="container py-5">
    <div class="row flex-center">
      <div class="col-12 mb-4">
        <div class="d-flex align-items-center flex-column">
          <h1 class="fs-2 fs-lg-8 fs-md-6">With an outstanding style, only for you</h1>
          <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold">Exclusively designed for you</h1>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------------------------------------------------------------------------->
  <!-- <section> begin ============================-->
  <section>
    <div class="container pb-5">
      <div class="row g-0">
        <div class="col-md-6">
          <div class="card card-span h-100 text-white">
            <img class="img-fluid" src="assets/images/majestic/her.png" width="790" alt="..." />
            <div class="card-img-overlay d-flex flex-center overlay-text fs-1">For Her</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-span h-100 text-white">
            <img class="img-fluid" src="assets/images/majestic/him.png" width="790" alt="..." />
            <div class="card-img-overlay d-flex flex-center overlay-text fs-1">For Him</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- <section> close ============================-->
<!------------------------------------------------------------------------------------------ -->
<app-products></app-products>
<!-------------------------------------------------------------------------------------------->
