<!-------------------------------------------------------------------------------------------->
<!-- Page Title -->
<section class="about-section">
  <h2 class="about-heading">shop</h2>
</section>
<!-------------------------------------------------------------------------------------------->
<div class="container my-5">
  <div class="row flex-center">
    <div class="col-12 mb-4">
      <div class="d-flex align-items-center flex-column">
        <h1 class="fs-2 fs-lg-8 fs-md-6">With an outstanding style, only for you</h1>
        <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold">Exclusively designed for you</h1>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------------------------------------------------------->
<!-- <section> begin ============================-->
<section>
  <div class="container mb-5">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card card-span h-100 text-white">
          <img class="img-fluid" src="assets/images/majestic/her.png" width="790" alt="..." />
          <div class="card-img-overlay d-flex flex-center overlay-text">For Her</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-span h-100 text-white">
          <img class="img-fluid" src="assets/images/majestic/him.png" width="790" alt="..." />
          <div class="card-img-overlay d-flex flex-center overlay-text">For Him</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section> close ============================-->
<!-------------------------------------------------------------------------------------------->
