<!-- Page Title -->
<!------------------------------------------------------------------------------------------------------>
<section class="d-flex justify-content-center">
  <h2 class="py-5">Our Products</h2>
</section>
<!------------------------------------------------------------------------------------------------------>
<section class="d-flex justify-content-center">
  <p class="pb-4 fs-5 text-center" *ngIf="!productsLoading && !noProducts">Showing from {{ startEntry }} to {{ endEntry }} of {{ totalCount }} Product</p>
  <p class="pb-4 fs-5 text-center" *ngIf="!productsLoading && noProducts">No Products Found</p>
  <p class="pb-4 fs-5 text-center" *ngIf="productsLoading">Loading Products ...</p>
</section>
<!------------------------------------------------------------------------------------------------------>
<div class="container-fluid">
  <div class="row px-3">
    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-4 col-sm-6">
      <!------------------------------------------------------------------------------------------------>
      <!-- Start of Price Filter -->
      <div class="mb-4 py-3 px-3 bg-light">
        <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
        <div class="custom-control custom-radio d-flex align-items-center mb-3">
          <input type="radio" class="custom-control-input me-3" name="priceFilter" id="price-all" checked (change)="onPriceFilterChange(null, null)" />
          <label class="custom-control-label" for="price-all">All Price</label>
        </div>
        <div class="custom-control custom-radio d-flex align-items-center mb-3">
          <input type="radio" class="custom-control-input me-3" name="priceFilter" id="price-1" (change)="onPriceFilterChange(0, 200)" />
          <label class="custom-control-label" for="price-1">$0 - $200</label>
        </div>
        <div class="custom-control custom-radio d-flex align-items-center mb-3">
          <input type="radio" class="custom-control-input me-3" name="priceFilter" id="price-2" (change)="onPriceFilterChange(200, 400)" />
          <label class="custom-control-label" for="price-2">$200 - $400</label>
        </div>
        <div class="custom-control custom-radio d-flex align-items-center mb-3">
          <input type="radio" class="custom-control-input me-3" name="priceFilter" id="price-3" (change)="onPriceFilterChange(400, 600)" />
          <label class="custom-control-label" for="price-3">$400 - $600</label>
        </div>
        <div class="custom-control custom-radio d-flex align-items-center mb-3">
          <input type="radio" class="custom-control-input me-3" name="priceFilter" id="price-4" (change)="onPriceFilterChange(600, 800)" />
          <label class="custom-control-label" for="price-4">$600 - $800</label>
        </div>
        <div class="custom-control custom-radio d-flex align-items-center mb-3">
          <input type="radio" class="custom-control-input me-3" name="priceFilter" id="price-5" (change)="onPriceFilterChange(800, 1000)" />
          <label class="custom-control-label" for="price-5">$800 - $1000</label>
        </div>
        <div class="custom-control custom-radio d-flex align-items-center">
          <input type="radio" class="custom-control-input me-3" name="priceFilter" id="price-6" (change)="onPriceFilterChange(1000, null)" />
          <label class="custom-control-label" for="price-6">Over $1000</label>
        </div>
      </div>
      <!-- End of Price Filter -->
      <!------------------------------------------------------------------------------------------------>
      <!-- Start of Categories Filter -->
      <div class="mb-4 py-3 px-3 bg-light">
        <div class="d-flex justify-content-between">
          <h5 class="font-weight-semi-bold">Categories</h5>
          <h5 *ngIf="!categoriesLoading" class="font-weight-semi-bold">{{ categories.length }}</h5>
        </div>
        <div class="border-bottom my-3"></div>
        <div class="mb-3">
          <div *ngIf="categoriesLoading; else categoriesInput">
            <div class="skeleton-loader"></div>
          </div>
          <ng-template #categoriesInput>
            <select class="form-select" [(ngModel)]="selectedCategoryId" (change)="onFilterChange()">
              <option value="">All Categories</option>
              <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
          </ng-template>
        </div>
      </div>
      <!-- End of Categories Filter -->
      <!------------------------------------------------------------------------------------------------>
      <!-- Start of Brands Filter -->
      <div class="mb-4 py-3 px-3 bg-light">
        <div class="d-flex justify-content-between">
          <h5 class="font-weight-semi-bold">Brands</h5>
          <h5 *ngIf="!brandsLoading" class="font-weight-semi-bold">{{ brands.length }}</h5>
        </div>
        <div class="border-bottom my-3"></div>
        <div class="mb-3">
          <div *ngIf="brandsLoading; else brandsInput">
            <div class="skeleton-loader"></div>
          </div>
          <ng-template #brandsInput>
            <select class="form-select" [(ngModel)]="selectedBrandId" (change)="onFilterChange()">
              <option value="">All Brands</option>
              <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
            </select>
          </ng-template>
        </div>
      </div>
      <!-- End of Brands Filter -->
      <!------------------------------------------------------------------------------------------------>
      <!-- Start of Sizes Filter -->
      <div class="mb-4 py-3 px-3 bg-light">
        <div class="d-flex justify-content-between">
          <h5 class="font-weight-semi-bold">Sizes</h5>
          <h5 *ngIf="!sizesLoading" class="font-weight-semi-bold">{{ sizes.length }}</h5>
        </div>
        <div class="border-bottom my-3"></div>
        <div class="mb-3">
          <div *ngIf="sizesLoading; else sizesInput">
            <div class="skeleton-loader"></div>
          </div>
          <ng-template #sizesInput>
            <select class="form-select" [(ngModel)]="selectedSizeId" (change)="onFilterChange()">
              <option value="">All Sizes</option>
              <option *ngFor="let size of sizes" [value]="size.id">{{ size.name }}</option>
            </select>
          </ng-template>
        </div>
      </div>
      <!-- End of Sizes Filter -->
      <!------------------------------------------------------------------------------------------------>
      <!-- Start of Colors Filter -->
      <div class="mb-10 py-3 px-3 bg-light">
        <div class="d-flex justify-content-between">
          <h5 class="font-weight-semi-bold">Colors</h5>
          <h5 *ngIf="!colorsLoading" class="font-weight-semi-bold">{{ colors.length }}</h5>
        </div>
        <div class="border-bottom my-3"></div>
        <div class="mb-3">
          <div *ngIf="colorsLoading; else colorsInput">
            <div class="skeleton-loader"></div>
          </div>
          <ng-template #colorsInput>
            <select class="form-select" [(ngModel)]="selectedColorId" (change)="onFilterChange()">
              <option value="">All Colors</option>
              <option *ngFor="let color of colors" [value]="color.id">{{ color.name }}</option>
            </select>
          </ng-template>
        </div>
      </div>
      <!-- End of Colors Filter -->
      <!------------------------------------------------------------------------------------------------>
    </div>
    <!-- Shop Sidebar End -->
    <!-------------------------------------------------------------------------------------------------->

    <!-------------------------------------------------------------------------------------------------->
    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-8 col-md-6 col-sm-6">
      <div class="row pb-3">
        <!----------------------------------------------------------------------------------------------->
        <!-- Start of Search -->
        <div class="col-12 mb-5">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search ..." [(ngModel)]="searchInput" name="productName" (keyup)="searchProducts()" />
            <div class="btn btn-outline-secondary"><i class="fa fa-search"></i> Search</div>
          </div>
        </div>
        <!-- End of Search -->
        <!----------------------------------------------------------------------------------------------->
        <!-- Start of Prodcuts Loading -->
        <div class="container d-flex justify-content-center" *ngIf="productsLoading">
          <app-loader-skeleton-v4></app-loader-skeleton-v4>
        </div>
        <!-- End of Prodcuts Loading -->
        <!----------------------------------------------------------------------------------------------->
        <div class="d-flex justify-content-center align-items-center" *ngIf="!productsLoading && noProducts" style="height: 100vh">
          <p class="fs-3">No products found</p>
        </div>
        <!----------------------------------------------------------------------------------------------->
        <!-- Products -->
        <ng-container *ngIf="!productsLoading">
          <div *ngFor="let product of products" class="col-lg-4 col-md-6 col-sm-12 p-4 bg-light">
            <div class="card product-item border-0 shadow bg-white rounded">
              <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                <img class="img-fluid w-100 product-image" [src]="product.imageUrl" alt="" />
                <div class="overlay">
                  <button class="btn btn-light" (click)="openProductDetailsModal(product)">
                    <i class="fa-solid fa-cart-shopping fa-xl"></i>
                  </button>
                  <button class="btn btn-light text-dark overlay-btn fw-semibold fs-5" [routerLink]="['/productDetails', product.id]">View</button>
                  <button (click)="addToWishList(product)" class="btn btn-light">
                    <i *ngIf="!product.isWishListLoading && product.isInWishList" class="fa-solid fa-heart text-dark fa-xl"></i>
                    <i *ngIf="!product.isWishListLoading && !product.isInWishList" class="fa-regular fa-heart text-dark fa-xl"></i>
                    <i *ngIf="product.isWishListLoading" class="fas fa-spinner fa-spin fa-xl"></i>
                  </button>
                </div>
              </div>
              <a style="text-decoration: none; cursor: pointer" class="text-dark-emphasis" [routerLink]="['/productDetails', product.id]">
                <div class="card-body text-center py-2">
                  <h6 class="text-truncate py-1 mb-1">{{ product.title }}</h6>
                  <div class="d-flex justify-content-between">
                    <h6>{{ product.price | currency }}</h6>
                    <span class="rating">
                      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                        <span class="fa fa-star" [class.checked]="star <= product.ratingsAverage"></span>
                      </ng-container>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </ng-container>
        <!-- End of Products -->
        <!----------------------------------------------------------------------------------------------->
        <!-- Pagination -->
        <div *ngIf="(!apiError && !noProducts && products.length >= 9) || currentPage !== 1" class="container d-flex justify-content-center mt-5 pb-8">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" aria-label="Previous" (click)="changePage(currentPage - 1)">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
                <a class="page-link" (click)="changePage(page)">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" aria-label="Next" (click)="changePage(currentPage + 1)">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- End of Pagination -->
        <!----------------------------------------------------------------------------------------------->
      </div>
    </div>
    <!-- Shop Product End -->
    <!---------------------------------------------------------------------------------------------------->
  </div>
</div>
