/*--------------------------------------------*/
.rating {
  color: #dddddd;
}
/*--------------------------------------------*/
.rating .fa-star.checked {
  color: #f0c419;
}
/*--------------------------------------------*/
.rating-value {
  margin-left: 5px;
  font-weight: bold;
}
/*--------------------------------------------*/
