<footer class="footer-02 pt-5">
  <div class="container">
    <div class="row">
      <!------------------------------------------------------------------------------------------>
      <div class="col-md-4 col-lg-5">
        <div class="row">
          <div class="col-md-12 col-lg-8 mb-md-0 mb-4">
            <h2 class="footer-heading"><a href="#" class="logo">COZA Store</a></h2>
            <p>The ultimate platform for stylish and convenient shopping. We offer a seamless experience for fashion enthusiasts and everyday shoppers.</p>
            <a routerLink="about">read more <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!------------------------------------------------------------------------------------------>
      <div class="col-md-8 col-lg-7">
        <div class="row">
          <!-------------------------------------------------------------------------------------->
          <div class="col-md-3 mb-md-0 mb-4 border-left">
            <h2 class="footer-heading">Discover</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Buy &amp; Sell</a></li>
              <li><a href="#" class="py-1 d-block">Merchant</a></li>
              <li><a href="#" class="py-1 d-block">Giving back</a></li>
              <li><a href="#" class="py-1 d-block">Help &amp; Support</a></li>
            </ul>
          </div>
          <!-------------------------------------------------------------------------------------->
          <div class="col-md-3 mb-md-0 mb-4 border-left">
            <h2 class="footer-heading">About</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Staff</a></li>
              <li><a href="#" class="py-1 d-block">Team</a></li>
              <li><a href="#" class="py-1 d-block">Careers</a></li>
              <li><a href="#" class="py-1 d-block">Blog</a></li>
            </ul>
          </div>
          <!-------------------------------------------------------------------------------------->
          <div class="col-md-3 mb-md-0 mb-4 border-left">
            <h2 class="footer-heading">Resources</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Security</a></li>
              <li><a href="#" class="py-1 d-block">Global</a></li>
              <li><a href="#" class="py-1 d-block">Charts</a></li>
              <li><a href="#" class="py-1 d-block">Privacy</a></li>
            </ul>
          </div>
          <!-------------------------------------------------------------------------------------->
          <div class="col-md-3 mb-md-0 mb-4 border-left">
            <h2 class="footer-heading">Social</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Facebook</a></li>
              <li><a href="#" class="py-1 d-block">Twitter</a></li>
              <li><a href="#" class="py-1 d-block">Instagram</a></li>
              <li><a href="#" class="py-1 d-block">Googleplus</a></li>
            </ul>
          </div>
          <!-------------------------------------------------------------------------------------->
        </div>
      </div>
    </div>
    <!-------------------------------------------------------------------------------------------->
    <!-- Divider -->
    <div class="border-top my-4"></div>
    <!-------------------------------------------------------------------------------------------->
    <!-- App Store Images -->
    <div class="row justify-content-center">
      <div class="col-md-12 part3 text-center">
        <div class="row justify-content-center">
          <div class="col-auto">
            <img src="../../../assets/images/AppStore.png" class="rounded me-2 imgwidth" />
            <img src="../../../assets/images/GooglePlay.png" class="rounded imgwidth" />
          </div>
        </div>
      </div>
    </div>
    <!-------------------------------------------------------------------------------------------->
    <!-- Divider -->
    <div class="border-top my-4"></div>
    <!-------------------------------------------------------------------------------------------->
    <div>
      <ul class="list-unstyled d-flex justify-content-center">
        <li class="me-4">
          <img src="../../../../assets/images/icons/icon-pay-01.png" alt="ICON-PAY" />
        </li>
        <li class="me-4">
          <img src="../../../../assets/images/icons/icon-pay-02.png" alt="ICON-PAY" />
        </li>
        <li class="me-4">
          <img src="../../../../assets/images/icons/icon-pay-03.png" alt="ICON-PAY" />
        </li>
        <li class="me-4">
          <img src="../../../../assets/images/icons/icon-pay-04.png" alt="ICON-PAY" />
        </li>
        <li>
          <img src="../../../../assets/images/icons/icon-pay-05.png" alt="ICON-PAY" />
        </li>
      </ul>
    </div>
    <!-------------------------------------------------------------------------------------------->
    <!-- Divider -->
    <div class="border-top my-4"></div>
    <!-------------------------------------------------------------------------------------------->
    <!-- Copyright Information -->
    <div class="row mt-5 justify-content-center">
      <div class="col-md-6 col-lg-8 text-center">
        <p class="copyright">Copyright &copy; All rights reserved | Coza Store</p>
      </div>
    </div>
    <!-------------------------------------------------------------------------------------------->
  </div>
</footer>
